<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_stop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,170},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,170},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,340},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,340},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,510},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,510},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,680},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,680},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>caocao_stop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,850},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao_stop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52a77f6f0c520c17bc8ba17720e1f51d$</string>
            <key>textureFileName</key>
            <string>caocao_stop.png</string>
        </dict>
    </dict>
</plist>
